body, input, select {
    background-color: black;
    color: white;
}

textarea {
    resize: none;
    background-color: black;
    color: white;
}


button {
    width: 100px;
    background-color: black;
    color: white;
    border-radius: 200px;
    border-color: white;
}